
:root
{
	--font-family: 'Courier New', Courier, monospace;
	--background-color: #121212;
	--text-color: #ffffff;
}

body
{
	/* colors */
	background-color: var(--background-color);
	color: var(--text-color);

	/* fonts */
	font-family: var(--font-family);
	font-size: 24px;
}
